*{
	margin: 0;
	padding: 0;
}

.general{
	margin: auto;
	width: 960px;
	height: 800px;
	background-color: red;
}

.ofertas{
	float: right;
	width: 300px;
	heigt: 180px;
	background-color: green;
}

.novedades{
	
	width: 640px;
	heigt: 180px;
	background-color: blue;
}

